version: '3.3'

services:
  db:
    image: postgres:14.0
    container_name: database
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    env_file:
      - ../.env
    ports:
      - 5432:5432

  backend:
    image: ritisbarauskas/bb_django:latest
    container_name: backend
    restart: always
    depends_on:
      - db
    volumes:
      - static_value:/code/dj_static/
      - media_value:/code/dj_media/
    env_file:
      - ../.env
    ports:
      - 8000:8000

  tg_bot:
    image: ritisbarauskas/bb_tg_bot:latest
    container_name: tg_bot
    restart: always
    depends_on:
      - db
    env_file:
      - ../.env
    ports:
      - 8008:8008

  nginx:
    image: nginx:1.19.3
    container_name: nginx
    ports:
      - 8001:80
    volumes:
      - static_value:/var/html/dj_static/
      - media_value:/var/html/dj_media/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    depends_on:
      - backend
      - tg_bot

volumes:
  postgres_data:
  static_value:
  media_value: