{% extends "web/base.html" %}
{% block content %}
{% for master, entries in data.items %}
    <section class="dashboard">
        <h2 class="dashboard__title">
            {{ master.name }}
        </h2>
        <div class="dashboard__section">
            <ul class="dashboard__list">
                {% for entry in entries %}
                    <li class="dashboard__item dashboard__item_rows-{{ entry.step }}">
                        {{ entry.entry | date:"d.m.y - H:i" }}
                    </li>
                {% endfor %}
            </ul>
            <ul class="dashboard__list">
                {% for entry in entries %}
                    <li class="dashboard__item dashboard__item_rows-{{ entry.step }} dashboard__item_long">
                        Свободно
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endfor %}
{% endblock %}