{% extends "web/base.html" %}
{% block content %}
    <div class="dashboard">
        <h2 class="dashboard__title">
            Никитос Юткин
        </h2>
        <div class="dashboard__section">
            <ul class="dashboard__list">
                <li class="dashboard__item">
                    12:00
                </li>
                <li class="dashboard__item">
                    12:30
                </li>
                <li class="dashboard__item">
                    13:00
                </li>
                <li class="dashboard__item">
                    14:00
                </li>
                <li class="dashboard__item">
                    15:00
                </li>
            </ul>
            <ul class="dashboard__list">
                <li class="dashboard__item dashboard__item_rows2">
                    Свободно
                </li>
                <li class="dashboard__item dashboard__item_rows4">
                    Свободно
                </li>
                <li class="dashboard__item dashboard__item_rows2">
                    Свободно
                </li>
                <li class="dashboard__item dashboard__item_rows4">
                    Свободно
                </li>
                <li class="dashboard__item dashboard__item_rows4">
                    Свободно
                </li>
            </ul>
        </div>
    </div>
{% endblock %}