name: Boris Britva

on:
  push:
    branches:
      - master

jobs:
  build_and_push_django_backend_to_docker_hub:
    name: Push Docker image Backend to Docker Hub
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.USERNAME_DOCKER }}
          password: ${{ secrets.PASSWORD_DOCKER }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          context: backend
          tags: ritisbarauskas/bb_django:latest
  build_and_push_tg_bot_to_docker_hub:
    name: Push Docker image TG Bot to Docker Hub
    needs: build_and_push_django_backend_to_docker_hub
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.USERNAME_DOCKER }}
          password: ${{ secrets.PASSWORD_DOCKER }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          context: backend
          tags: ritisbarauskas/bb_tg_bot:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push_tg_bot_to_docker_hub
    if: github.ref == 'refs/heads/master'
    steps:
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_SERVER }}
          username: ${{ secrets.USER_SERVER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd bb/infra
            sudo docker pull ritisbarauskas/foodgram-backend:latest
            sudo docker pull ritisbarauskas/foodgram-frontend:v1.1
            sudo docker-compose down
            cd ../
            touch .env
            echo DB_ENGINE=${{ secrets.DB_ENGINE }} >> .env
            echo DB_NAME=${{ secrets.DB_NAME }} >> .env
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
            echo DB_HOST=${{ secrets.DB_HOST }} >> .env
            echo DB_PORT=${{ secrets.DB_PORT }} >> .env
            cd ../infra
            sudo docker-compose up -d